<div>
    <h3 data-dojo-attach-point="nameNode">${name}</h3>
    <button data-dojo-attach-point="showMoreButton" class="showMoreButton">Show more...</button>
    <div id="extraInfo" class="extraInfo">
	    <p data-dojo-attach-point="shortNameNode"><b>Short name: </b>${shortname}</p>
	    <p data-dojo-attach-point="callsignNode"><b>Callsign: </b>${callsign}</p>
	    <p data-dojo-attach-point="urlNode"><b>Website: </b>${url}</p>
	    <p data-dojo-attach-point="countryNode"><b>Country: </b>${country}</p>
    </div>
    <button data-dojo-attach-point="showMapButton" class="showMapButton">View on Map</button>
</div>